@import "~antd/lib/style/themes/default.less";
@import "./utils.less";

.header {
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  position: relative;
  overflow: hidden;
}

.logo {
  height: 64px;
  width: 200px;
  position: fixed;
  position: relative;
  line-height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  transition: all .3s;
  background: #fff;
  overflow: hidden;
  float: left;
  cursor: pointer;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }
  h1 {
    color: #263238;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

:global(.ant-layout-sider-collapsed) .logo {
  padding-left: 24px;
  > a {
    width: 32px;
  }
}

.trigger {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s;
  padding-left: 24px;
  padding: 0 24px;
  &:hover {
    background: @primary-1;
  }
}

@media screen and (max-width: @screen-xs) {
  .trigger {
    display: none;
  }
}

.right {
  float: right;
  height: 100%;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;
    }
    &:global(.ant-popover-open),
    &:hover {
      background: @primary-1;
    }
  }
  .search {
    padding: 0;
    margin: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: 20px 8px 20px 0;
      color: @primary-color;
      background: rgba(255, 255, 255, .85);
      vertical-align: middle;
    }
  }
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    width: 160px;
  }
}

:global {
  .ant-layout {
    overflow-x: hidden;
  }
}

.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: relative;
  z-index: 10;
}


.activitiesList {
  padding: 0 24px 8px 24px;
  .username {
    color: @text-color;
  }
  .event {
    font-weight: normal;
  }
}

.pageHeaderExtra {
  .clearfix();
  float: right;
  & > div {
    padding: 0 32px;
    position: relative;
    float: left;
    & > p:first-child {
      color: @text-color-secondary;
      font-size: @font-size-base;
      line-height: 22px;
      margin-bottom: 4px;
    }
    & > p {
      color: @heading-color;
      font-size: 30px;
      line-height: 38px;
      & > span {
        color: @text-color-secondary;
        font-size: 20px;
      }
    }
    &:after {
      background-color: @border-color-split;
      position: absolute;
      top: 8px;
      right: 0;
      width: 1px;
      height: 40px;
      content: '';
    }
  }
  & > div:last-child {
    padding-right: 0;
    &:after {
      display: none;
    }
  }
}

.members {
  a {
    display: block;
    margin: 12px 0;
    line-height: 24px;
    height: 24px;
    .textOverflow();
    .member {
      font-size: @font-size-base;
      color: @text-color;
      line-height: 24px;
      max-width: 100px;
      vertical-align: top;
      margin-left: 12px;
      transition: all .3s;
      display: inline-block;
      .textOverflow();
    }
    &:hover {
      span {
        color: @primary-color;
      }
    }
  }
}

.projectList {
  :global {
    .ant-card-meta-description {
      color: @text-color-secondary;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }
  .cardTitle {
    font-size: 0;
    a {
      color: @heading-color;
      margin-left: 12px;
      line-height: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: top;
      font-size: @font-size-base;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .projectGrid {
    width: 33.33%;
  }
  .projectItemContent {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    .textOverflow();
    a {
      color: @text-color-secondary;
      display: inline-block;
      flex: 1 1 0;
      .textOverflow();
      &:hover {
        color: @primary-color;
      }
    }
    .datetime {
      color: @disabled-color;
      flex: 0 0 auto;
      float: right;
    }
  }
}

.datetime {
  color: @disabled-color;
}

@media screen and (max-width: @screen-xl)  and (min-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .pageHeaderExtra {
    margin-left: -44px;
    & > div {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .pageHeaderExtra {
    float: none;
    margin-right: 0;
    & > div {
      padding: 0 16px;
      text-align: left;
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .pageHeaderExtra {
    margin-left: -16px;
  }
  .projectList {
    .projectGrid {
      width: 50%;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderExtra {
    & > div {
      float: none;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .projectList {
    .projectGrid {
      width: 100%;
    }
  }
}

