@import "~antd/lib/style/themes/default.less";

.toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 56px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, .03);
  background: #fff;
  border-top: 1px solid @border-color-split;
  padding: 0 24px;
  transition: all .3s;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  button + button {
    margin-left: 8px;
  }

  .buttonFooter{
    margin: 10px;
    .button{
      margin-right: 8px;
    }
  }
}
