<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>
</head>
<body>

	<form method="POST" action="/confirm_password/{{hash}}/">{% csrf_token %}
		<fieldset>
				<label>nueva password</label>
				<input type="password" class="formulario_input" placeholder="Ingrese su nueva password" required="" name="password"><br><br>

				<input type="submit" value="Enviar">
				<input type="reset" value="Borrar">
			
		</fieldset>
	</form>
</body>
</html>
