{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">	
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">

        <!-- Icons -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">

        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Unidad de Practicas Profesionales</title>

    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <div id="app"></div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
