<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>
</head>
<body>

	<form method="POST" action="/reset_password">{% csrf_token %}
		<fieldset>
				<label>email</label>
				<input type="text" class="formulario_input" placeholder="Ingrese su email" required="" name="email"><br><br>
		
				<input type="submit" value="Enviar">
				<input type="reset" value="Borrar">
			
		</fieldset>
	</form>
</body>
</html>
