html, body, :global(#root) {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: #263238;
  background-color: #F0F2F5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem !important;
}

h2 {
  color: #fff;
}

.ant-card-body {
  padding: 24px;
  padding-top: 0;
}

.card-antd {
  margin: 24px;
  z-index: 0;
  .card-antd-inputs{
    padding-top: 5px;
  }
  .card-antd-content{
    padding-top: 24px;
  }
}

.ant-card-wider-padding .ant-card-body {
  padding-top: 0 !important;
   padding: 24px;
}

.ant-card-wider-padding .ant-card-head {
  padding: 0 24px;
}


.card-antd-footer {
  margin-bottom: 80px !important;
  margin: 24px;
  z-index: 0;
  .card-antd-inputs{
    padding-top: 5px;
  }
  .card-antd-content{
    padding-top: 24px;
  }
}

div.text > p{
  margin-bottom: 0px;
}

canvas{
  width: 100% !important;
  height: 100% !important;
}



