@import "~antd/lib/style/themes/default.less";
@import "./utils.less";

.spinnerAvatar{
    position: relative;
    margin-bottom: 8px;
    border-radius: 72px;
    display: block;
    width: 72px;
    height: 72px;
    background-color: #F0F2F5;
    span.ant-spin-dot{
      margin-top: 18px;
    }
}

.pageHeaderContent {
  display: flex;
  .avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;
    & > span {
      border-radius: 72px;
      display: block;
      width: 72px;
      height: 72px;
    }
  }
  .content {
    position: relative;
    top: 4px;
    margin-left: 24px;
    flex: 1 1 auto;
    color: @text-color-secondary;
    line-height: 22px;
    .contentTitle {
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: @heading-color;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    display: block;
    .content {
      margin-left: 0;
    }
  }
  .pageHeaderExtra {
    & > div {
      float: none;
    }
  }
}